.zList {
    width: 100%;
    height: auto;
}

.zList li {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
    margin-bottom: .2rem;
    line-height: 1rem;
}

.zList li:nth-child(1) {
    border-top: none;
}

.zList li a {
    font-size: .2rem;
    color: #8b8b8b;
}

.zList li img {
    width: .18rem;
    height: .28rem;
    vertical-align: text-top;
}


/*底部*/

.z-footer {
    width: 100%;
    height: .88rem;
    background: #105d7d;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: .3rem;
    text-align: center;
    line-height: .88rem;
}

.z-footer div:nth-child(1) {
    background: #0b75a1;
}

.z-foot {
    width: 100%;
    height: .88rem;
}
